{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row-flex">
        <div class="col-sm-12 col-md-12">
            <div class="background-home">
                <!--<img class="cover-pic" src="/media/images/homepage_pic.jpg" alt="#">-->
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="statement">
        <p>Offices</p>
    </div>
    <div class="row cards">
        <div id="office-sussex">
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <div><img class="map col-xs-12 col-xs-offset-0 col-sm-offset-0 col-sm-12 col-md-12"
                                    src="/media/images/sussex_office_pic.jpg" alt="Sussex_office">
                            </div>
                            <h1>Sussex HQ</h1>
                            <p>Unit 13, Firsland Park Estate, Henfield Road, Albourne, West Sussex, BN6 9JJ</p>
                            <p>Tel: 01444 871 464</p>
                        </div>
                        <div class="flip-card-back">
                            <div><img class="map col-xs-12 col-xs-offset-0 col-sm-offset-0 col-sm-12 col-md-12"
                                    src="/media/images/sussex_map.PNG" alt="Herts">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="about-section">

            <div class="col-sm-4 col-md-3 col-lg-3">
                <p>About</p>
                <h4>Land Drilling, Civil Engineering and Site Investigation</h4>
                <h5>Oakland Site Investigation was formed in April 2012 and has established itself as a leading
                    sub-contractor
                    within the Site Investigation
                    industry.<br> Our main office is based in West Sussex and we have now opened other successful
                    offices in
                    Hertfordshire and Gloustershire.</br></h5>
                <h5>The director’s John Essam and Tom Clarke, have over 30 years combined experience carrying out
                    ground
                    investigations, delivering a wide
                    range of site services to the industry.</h5>
                <h5>We now run 8 windowless sampling rigs, along with other equipment
                    including Cable Percussion,
                    coring rigs, hand held window sampling, towable 2500 litre bowsers for soakage testing as well
                    as both
                    hydraulic and electric breakers
                    and hand digging equipment, plate bearing and CBR testing.</h5>

                <h5>We are an accredited member of CHAS, all lead drillers hold NVQ Lead Driller cards in Land
                    Drilling, we have
                    both superviser and operatives in Streetworks and all of our workers hold CSCS cards.</h5>
                <h5>This is important to
                    us for keeping high standards both in our work and our approach to work.</h5>
            </div>
        </div>

        <div id="office-herts">
            <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="flip-card">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <div><img class="map col-xs-12 col-xs-offset-0 col-sm-offset-0 col-sm-12 col-md-12"
                                    src="/media/images/herts_office_pic.png" alt="Herts_office">
                            </div>
                            <h1>Hertfordshire</h1>
                            <p>Berrybushes Farm, Langlebury, Kings Langley, Herts, WD4 8RL</p>
                            <p>Tel: 01442 732 464</p>
                        </div>
                        <div class="flip-card-back">
                            <div><img class="map col-xs-12 col-xs-offset-0 col-sm-offset-0 col-sm-12 col-md-12"
                                    src="/media/images/herts_map.PNG" alt="Herts">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="statement">
        <p>About</p>
        <h4>Land Drilling, Civil Engineering and Site Investigation</h4>
        <h5>Oakland Site Investigation was formed in April 2012 and has established itself as a leading sub-contractor
            within the Site Investigation
            industry.<br> Our main office is based in West Sussex and we have now opened other successful offices in
            Hertfordshire and Gloustershire.</br></h5>
        <h5>The director’s John Essam and Tom Clarke, have over 30 years combined experience carrying out ground
            investigations, delivering a wide
            range of site services to the industry.</h5>
        <h5>We now run 8 windowless sampling rigs, along with other equipment
            including Cable Percussion,
            coring rigs, hand held window sampling, towable 2500 litre bowsers for soakage testing as well as both
            hydraulic and electric breakers
            and hand digging equipment, plate bearing and CBR testing.</h5>

        <h5>We are an accredited member of CHAS, all lead drillers hold NVQ Lead Driller cards in Land Drilling, we have
            both superviser and operatives in Streetworks and all of our workers hold CSCS cards.</h5>
        <h5>This is important to
            us for keeping high standards both in our work and our approach to work.</h5>
    </div>
</div>
{% endblock %}