{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row-flex">
        <div class="col-sm-12 col-md-12">
            <div class="background-image" src="/media/images/homepage_pic.jpg" alt="#">
                <!--<img class="cover-pic" src="/media/images/homepage_pic.jpg" alt="#">-->
            </div>
        </div>
    </div>

    <div class="container">
        <div class="statement">
            <p>Offices</p>
        </div>
        <div class="row">
            <div id="office-sussex">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <div><img class="map col-xs-12 col-xs-offset-0 col-sm-offset-0 col-sm-12 col-md-12"
                                src="/media/images/sussex_office_pic.jpg" alt="Sussex_office">
                        </div>
                        <h1>Sussex HQ</h1>
                        <p>Unit 13, Firsland Park Estate, Henfield Road, Albourne, West Sussex, BN6 9JJ</p>
                        <p>Tel: 01444 871 464</p>
                    </div>
                    <div class="flip-card-back">
                        <div><img class="map col-xs-12 col-xs-offset-0 col-sm-offset-0 col-sm-12 col-md-12"
                                src="/media/images/sussex_map.PNG" alt="Herts">
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <div id="office-herts">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <div><img class="map col-xs-12 col-xs-offset-0 col-sm-offset-0 col-sm-12 col-md-12"
                                src="/media/images/herts_office_pic.png" alt="Herts_office">
                        </div>
                        <h1>Hertfordshire</h1>
                        <p>Berrybushes Farm, Langlebury, Kings Langley, Herts, WD4 8RL</p>
                        <p>Tel: 01442 732 464</p>
                    </div>
                    <div class="flip-card-back">
                        <div><img class="map col-xs-12 col-xs-offset-0 col-sm-offset-0 col-sm-12 col-md-12"
                                src="/media/images/herts_map.PNG" alt="Herts">
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}