{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid">
    {% for cases in cases %}
    <div class="panel-body">
        <h2>Thorpe, Surrey</h2>
        <!-- <img class="map col-xs-4 col-xs-offset-0 col-sm-offset-0 col-sm-4 col-md-4" 
        src="/media/images/sussex_office_pic.jpg" alt="Sussex_office"> -->
        <div class="cases" style="background-image: url('{{ MEDIA_URL }}{{ cases.image }}')"></div>
        <h3>{{ cases.name }}</h3>
			<p class="cases-description">{{ cases.description }}</p>
			<p>{{ cases.price }}</p>
        <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi
            lorem egestas vitae scel<span id="dots">...</span><span id="more">erisque enim ligula venenatis dolor.
                Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut
                aliquet. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis
                imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue
                eros non fermentum. Sed dapibus pulvinar nibh tempor porta.</span></p>

        <button onclick="myFunction()" id="myBtn">Read more</button>-->
    </div>
    {% endfor %}
</div>

<!-- Script for READ MORE BUTTON -->
<!--<script>
    function myFunction() {
        var dots = document.getElementById("dots");
        var moreText = document.getElementById("more");
        var btnText = document.getElementById("myBtn");

        if (dots.style.display === "none") {
            dots.style.display = "inline";
            btnText.innerHTML = "Read more";
            moreText.style.display = "none";
        } else {
            dots.style.display = "none";
            btnText.innerHTML = "Read less";
            moreText.style.display = "inline";
        }
    }
</script>-->
{% endblock %}