{% extends 'base.html' %}
{% load static %}

{% block content %}

<h2>Downloads & Documents</h2>
<div>
    <button class="btn btn-primary" id="toggle-rams">Generic RAMS</button>
    <div id="link-box-rams">
        <h5>Generic RAMS</h5>
        <p>Click to download</p>
        <ul>
            <li><a href="/media/assets/rams/coring_frame_rams.pdf" target="_blank">Coring Frame RAMS</a></li>
            <li><a href="/media/assets/rams/dynamic_cone_cbr_rams.pdf" target="_blank">Dynamic Cone CBR RAMS</a></li>
            <li><a href="/media/assets/rams/gas_and_groundwater_monitoring_rams.pdf" target="_blank">Gas and Ground Water Monitoring RAMS</a></li>
            <li><a href="/media/assets/rams/geotool_probing_rams.pdf" target="_blank">Geotool Probing RAMS</a></li>
            <li><a href="/media/assets/rams/hand_augering_rams.pdf" target="_blank">Hand Augering RAMS</a></li>
            <li><a href="/media/assets/rams/hand_excavated_pits_rams.pdf" target="_blank">Hand Excavated Pits RAMS</a></li>
            <li><a href="/media/assets/rams/in_situ_cbr_rams.pdf" target="_blank">In-Situ CBR RAMS</a></li>
            <li><a href="/media/assets/rams/manual_handling_of_load_rams.pdf" target="_blank">Manual Handling of Load RAMS</a></li>
            <li><a href="/media/assets/rams/shoring_method_statement_and_risk_assessment.pdf" target="_blank">Shoring Method Statement and Risk Assessment</a></li>
            <li><a href="/media/assets/rams/soakage_365_rams.pdf" target="_blank">Soakage 365 RAMS</a></li>
            <li><a href="/media/assets/rams/streetworks_rams.pdf" target="_blank">Streetworks RAMS</a></li>
            <li><a href="/media/assets/rams/windowless_rams.pdf" target="_blank">Windowless RAMS</a></li>
            <li><a href="/media/assets/rams/work_at_height.pdf" target="_blank">Work at Height RAMS</a></li>

        </ul>
    </div>
</div>

<div>
    <button class="btn btn-primary" id="toggle-factsheets">Factsheets</button>
    <div id="link-box-factsheets">        
        <h5>Factsheets</h5>
        <p>Click to download</p>
        <ul>
            <li><a href="/media/assets/factsheets/bre-365-fact-sheet-final.pdf" target="_blank">BRE 365</a></li>
            <li><a href="/media/assets/factsheets/cut-down-ws-fact-sheet.pdf" target="_blank">Cut Down WS</a></li>
            <li><a href="/media/assets/factsheets/geotool-fact-sheet-final.pdf" target="_blank">Geotool</a></li>
            <li><a href="/media/assets/factsheets/oakland-dando-terrier-fact-sheet.pdf" target="_blank">Oakland Dando Terrier</a></li>
            <li><a href="/media/assets/factsheets/oakland-trial-pitting-fact-sheet.pdf" target="_blank">Oakland Trial Pitting</a></li>
            <li><a href="/media/assets/factsheets/premier-110-series-windowless-sampling-drilling-rig-final.pdf" target="_blank">Premier 110 series Windowless Samplig Drilling Rig</a></li>            
        </ul>
    </div>
</div>

<div>
    <button class="btn btn-primary" id="toggle-spts">SPT Calibrations</button>
    <div id="link-box-spts">
        <h5>SPT Calibrations</h5>
        <p>Click to download</p>
        <ul>
            <li><a href="/media/assets/spts/SPT-Calibration-Test-EQU2048-Geotool.pdf" target="_blank">SPT Calibration Test EQU0248 (Geotool)</a></li>
            <li><a href="/media/assets/spts/SPT-Calibration-Test-Oakland-SI-Breakdown.pdf" target="_blank">SPT Calibration Test Oakland SI (Breakdown)</a></li>
            <li><a href="/media/assets/spts/SPT-Calibration-Test-Oakland-SI-Dando-Herts.pdf" target="_blank">SPT Calibration Test Oakland SI (Dando) Herts</a></li>
            <li><a href="/media/assets/spts/SPT-Calibration-Test-Oakland-SI-JH-Sussex.pdf" target="_blank">SPT Calibration Test Oakland SI (JH) Sussex</a></li>
            <li><a href="/media/assets/spts/SPT-Calibration-Test-Oakland-SI-MJ-Sussex.pdf" target="_blank">SPT Calibration Test Oakland SI (MJ) Sussex</a></li>
            <li><a href="/media/assets/spts/SPT-Calibration-Test-Oakland-SI-Premier-Herts.pdf" target="_blank">SPT Calibration Test Oakland SI (Premier) Herts</a></li>
            <li><a href="/media/assets/spts/SPT-Calibration-Test-Oakland-SI-RO-Glous.pdf" target="_blank">SPT Calibration Test Oakland SI (RO) Glous</a></li>
            <li><a href="/media/assets/spts/SPT-Calibration-Test-Oakland-SI-SB-Sussex.pdf" target="_blank">SPT Calibration Test Oakland SI (SB) Sussex</a></li>
            <li><a href="/media/assets/spts/SPT-Calibration-Test-Oakland-SI-Spare-Premier-Sussex.pdf" target="_blank">SPT Calibration Test Oakland SI (Spare Premier) Sussex</a></li>
        </ul>
    </div>
</div>

<div>
    <button class="btn btn-primary" id="toggle-insurances">Insurances</button>
    <div id="link-box-insurances">
        <h5>Insurances</h5>
        <p>Click to download</p>
        <ul>
            <li><a href="/media/assets/insurances/Evidence-of-Insurance-2019-2020.pdf" target="_blank">Evidence of Insurance 2019 – 2020</a></li>
            <li><a href="/media/assets/insurances/Insurance-Cert-2019-2020.pdf" target="_blank">Insurance Certificate 2019</a></li>
        </ul>
    </div>
</div>

<script>
    // Script to show box list in downloads page //
    $('#toggle-rams').click(function () {
        $('#link-box-rams').toggle('slow');
    });

    $('#toggle-factsheets').click(function () {
        $('#link-box-factsheets').toggle('slow');
    });

    $('#toggle-spts').click(function () {
        $('#link-box-spts').toggle('slow');
    });

    $('#toggle-insurances').click(function () {
        $('#link-box-insurances').toggle('slow');
    });
</script>

{% endblock %}
